.App {
  text-align: center;
  overflow: hidden;
}

.app-banner {
  height: 5vh;
}

.navbar {
  min-height: 5vh;
}

/* This for the collapsable Sidebar menus */
/* Left sidebar */
#left-wrapper {
  overflow-x: hidden;
}

#left-sidebar-wrapper {
  min-height: 95vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#left-sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#left-sidebar-wrapper .list-group {
  width: 15rem;
}

#left-wrapper.toggled #left-sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #left-sidebar-wrapper {
    margin-left: 0;
  }

  #left-wrapper.toggled #left-sidebar-wrapper {
    margin-left: -15rem;
  }
}
#left-menu-toggle {
  height: 5vh;
  width: 2vh;
  color: black;
  /* border-radius: 0px; */
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Right sidebar */